{% extends "main/base.html" %}
{% load static %}
{% block title %}Профіль{% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/reg.css' %}">
<div class="container mt-4">
  <h2 class="mb-4">Мій профіль</h2>

  <form action="{% url 'profile' %}" method="post">
    {% csrf_token %}
    
    <div class="mb-3">
      <label for="{{form.first_name.id_for_label}}" class="form-label">Повне ім’я</label>
      {{ form.first_name }}
    </div>

    <div class="mb-3">
      <label for="{{form.username.id_for_label}}" class="form-label">Логін</label>
      {{ form.username }}
    </div>

    <div class="mb-3">
      <label for="{{form.email.id_for_label}}" class="form-label">Email</label>
      {{ form.email }}
    </div>

    <button type="submit" class="btn btn-primary">Зберегти зміни</button>
  </form>
</div>
{% endblock content %}